@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap'); // 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@100;900&family=Rubik&display=swap');


$primary : #0e213f;
$secondary : #d1515a;
$backgroundColor : #d4d4d4; 

// fonts 

$primaryFont: 'Rubik', sans-serif;
